<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>controllerServlet</servlet-name>
        <servlet-class>web.lab.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>areaCheckServlet</servlet-name>
        <servlet-class>web.lab.AreaCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>areaCheckServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>controller</welcome-file>
    </welcome-file-list>

</web-app>